---
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<Navigation
				ariaLabel="Main Navigation"
				items={[
					{ label: "Home", href: "/", current: true },
					{ label: "Shop", href: "/shop/" },
					{ label: "Blog", href: "/blog/" },
					{ label: "About", href: "/about/" },
					{ label: "Contact", href: "/contact/" },
				]}
			/>
		</header>

		<h1>Astro</h1>
	</body>
</html>
