---
interface NavItem {
    label: string;
    href: string;
    current?: boolean;
}

interface Props {
    ariaLabel: string;
    items: NavItem[];
}

const { ariaLabel, items } = Astro.props as Props;
---

<nav id="navigation" aria-label={ariaLabel}>
    <button type="button" aria-controls="navigation-items" aria-expanded="true"
        >Menu</button
    >
    <ul id="navigation-items">
        {
            items.map((item) => (
                <li>
                    <a
                        aria-current={item.current ? "page" : undefined}
                        href={item.href}
                    >
                        {item.label}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>

<script>
    (function () {
        const navigation = document.getElementById("navigation");
        if (navigation === null) return;

        const navigationItems = document.getElementById("navigation-items");
        if (navigationItems === null) return;

        const button = navigation.querySelector("button");
        if (button === null) return;

        button.addEventListener("click", () => {
            const expanded = button.getAttribute("aria-expanded") === "true";
            button.setAttribute("aria-expanded", String(!expanded));

            if (expanded) {
                navigationItems.setAttribute("hidden", "");
            } else {
                navigationItems.removeAttribute("hidden");
            }
        });
    })();
</script>
