---
interface NavItem {
    label: string;
    href: string;
    current?: boolean;
}

interface Props {
    ariaLabel: string;
    items: NavItem[];
}

const { ariaLabel, items } = Astro.props as Props;
---

<nav id="navigation" aria-label={ariaLabel}>
    <button type="button" aria-controls="navigation-items" aria-expanded="true"
        >Menu</button
    >
    <ul id="navigation-items">
        {
            items.map((item) => (
                <li>
                    <a
                        aria-current={item.current ? "page" : undefined}
                        href={item.href}
                    >
                        {item.label}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
